

/* PLANTEL*/

.jugador {
    border-radius: 1.5rem;
    padding: 0.4rem;
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease;
    filter: grayscale(70%);

    h2 {
        opacity: 0;
    }


    &:hover {
        transform: scale(1.05);
        filter: grayscale(0%);
        
        h2 {
            opacity: 1;
        }
    }
}